
/* main container */
.mainContainer{
    margin-top: 12%;
    padding-top: 10%;
    padding-bottom: 10%;

}

.first{
    background-color: rgb(47, 128, 101);
}

.second{
    background-color: rgb(176, 126, 64);
}

/* ***************** */