
.row{
  background-color: aqua;

}

.cotainer-fluid{
  padding: 6% 15% 7%;
}

.wellcome{
  background-color: blue;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;


  
}

.login{
  background-color: bisque;
}

.myCarousel{
  padding-bottom: 50px;
}